{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"",
		"^./\\$types$",
		"^\\$env/(.*)$",
		"^\\$app/(.*)$",
		"^\\$lib/(.*)$",
		"^[./]"
	],
	"importOrderTypeScriptVersion": "5.0.4",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
